{% extends "posts/base.html" %}
    {% block title %} Create post{% endblock %}
    {% block main %}
        <form class="form-group" method="post">
            {%csrf_token%}
            {{form}}
            <button class="btn btn-primary" type="submit">Add post</button>
        </form>
    {% endblock %}
