{% extends "base.html" %}
    {% block title %} Create category{% endblock %}
    {% block content %}
        <form class="form-group" method="post">
            {%csrf_token%}
            {{form}}
            <button class="btn btn-primary" type="submit">Add post</button>
        </form>
    {% endblock %}
{% endblock %}
