{% extends "posts/base.html" %}
{% block main %}
  {%for post in object_list%}
      <div class="blog-post">
        <a class="blog-post-title" href="posts/{{post.id}}">{{post.title}}</a>
        <p class="blog-post-meta">{{post.created_on}} {{post.user.name}}</p>
        <p>{{post.content}}</p>
      </div>
  {%endfor%}
{% endblock %}

