{% block navbar %}
   <div class="navbar navbar-expand-lg navbar-light bg-light">
      <nav class="blog-nav ">
       <ul>
        <a class="blog-nav-item active" href="/">Home</a>
        <a class="blog-nav-item" href="/posts/create">Create post</a>
        <a class="blog-nav-item" href="/signup">Sign up</a>
       {% if user.is_authenticated %}
         <i class="blog-nav-item" >User: {{ user.get_username }}</i>
         <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
       {% else %}
         <a  href="{% url 'login'%}?next={{request.path}}" class="blog-nav-item" >Login</a>
       {% endif %}
      </ul>
      </nav>
    </div>
{% endblock %}