{% extends "posts/base.html" %}
{% block main %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{object.title}}</h2>
        <p class="blog-post-meta">{{object.created_on}} {{object.user.name}}</p>
        <p>{{object.content}}</p>
      </div>
{% endblock %}